<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.camp">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/camp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- LinkingIFの使用宣言 -->
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.support"
            android:value="true" />

        <!-- Linking距離変化通知IFの使用宣言 -->
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.notify_distance"
            android:value="true" />

        <!-- LinkingビーコンIFの使用宣言 -->
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.beacon"
            android:value="true" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainSimpleActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CookingListActivity"
            android:screenOrientation="portrait"
            android:label="お役立ち情報 / 料理編">
        </activity>
        <activity
            android:name=".DangerListActivity"
            android:screenOrientation="portrait"
            android:label="お役立ち情報 / 危険編">

        </activity>
        <activity
            android:name=".PreparationListActivity"
            android:screenOrientation="portrait"
            android:label="お役立ち情報 / 準備編">
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize"/>
        <!-- 画面回転再起動阻止 -->

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings"/>

        <service
            android:name=".BeaconGetService">
            <!--android:process=":beacongetservice"-->
        </service>
    </application>

</manifest>
